<h1>Sightings in Oregon</h1>

<div class="row">
  <div class="col-xs-4">
    <h3>buttons</h3>
    <button id="toggle_map" class="btn" name="toggle_map">Show/Hide map</button>
    <br>
    <br>
    <button id="run_map" class="btn">Map it!</button>
  </div>
  <div class="col-xs-4">
    <h3>Selects</h3>
    <!-- <form action="/get_cities" method="post">
      <div class="checkbox">
        <label><input type="checkbox" name="cities[]" value="Portland">Portland</label>
        <label><input type="checkbox" name="cities[]" value="Bend">Bend</label>
        <label><input type="checkbox" name="cities[]" value="Eugene">Eugene</label>
      </div>
      <button class="btn btn-info btn-sm" type="submit">Submit</button>
    </form> -->
    <form action="/get_city" method="post">
        <label>Find by city:</label>
        <input type="text" name="city_name" placeholder="city"></input>
        <button class="btn" type="submit">Submit</button>
    </form>

  </div>
  <div class="col-xs-4">
    <h3>test area</h3>
    <h4>Number of sightings found: <%= @results_total %></h4>
    <h4>Number of unique cities found: <% @unique_cities_total %></h4>
    <h4>City lat: <%= @city_lat %></h4>
    <h4>City lng: <%= @city_lng %></h4>
  </div>
</div>

<div id="map_super">
  <div id="map"></div>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=@key_main%>"></script>
</div>

<div id="map_script"></div>

<!-- <script  async defer src="https://maps.googleapis.com/maps/api/js?key=<%=@key_main%>&callback=initMap">
</script> -->
