<h1 id="sub-header">Sightings in Oregon</h1>

<div class="row">
  <div class="col-xs-4">

    <button id="toggle_map" class="btn" name="toggle_map">Show/Hide map</button>

  </div>
  <div class="col-xs-4">
    <h3>Selects</h3>
    <form action="/get_city" method="post">
        <label>Find by city:</label>
        <input class="blk_text" type="text" name="city_name" placeholder="city"></input>
        <button class="btn" type="submit">Find City info</button>
    </form>
    <br>
    <br>
    <button id="map_it" class="btn">Map it!</button>
  </div>
  <div class="col-xs-4">
    <h3>Your Query results:</h3>
    <h4>Sightings found: <%= @results_total %></h4>
    <h4>City latitude: <%= Info.get_lat %></h4>
    <h4>City longitude: <%= Info.get_lng %></h4>
  </div>
</div>

<div id="map_super">
  <div id="map"></div>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Keys.js_base%>"></script>
</div>

<div id="map_script"></div>

<!-- <script  async defer src="https://maps.googleapis.com/maps/api/js?key=<%=@key_main%>&callback=initMap">
</script> -->

<div id="dialog-window">

  <div id="scrollable-content">
    <ul>
      <li><p id="report"></p></li>
    </ul>
  </div>

  <div id="footer">
  </div>

</div>
