

<h1 id="sub-header">Search the UFO database...</h1>

<div class="row">
  <div class="col-xs-4">
    <button id="toggle_map" class="btn btn-info btn-sm" name="toggle_map">Show/Hide map</button>

  </div>
  <div class="col-xs-4">
    <form action="/get_city" method="post">
        <input class="blk_text" type="text" name="city_name" placeholder="seach a city"></input>
        <button class="btn btn-info btn-sm" type="submit">Search!</button>
    </form>
    <!-- <button id="map_it" class="btn btn-success btn-sm">Map it!</button> -->

  </div>
  <div class="col-xs-4">
    <h3>Your Query results:</h3>
    <h4>Sightings found: <%= Info.get_total %></h4>
    <h4>City latitude: <%= Info.get_lat %></h4>
    <h4>City longitude: <%= Info.get_lng %></h4>
  </div>
</div>

<div id="map_super">
  <div id="map"></div>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Keys.js_base%>"></script>
</div>

<div id="map_script"></div>

<% if (Info.get_city != "") %>
  <h1><span><%=Info.get_total%></span> Sightings found for <span><%=Info.get_city%>:</span></h1>
  <div id="dialog-window">
    <div id="scrollable-content">
      <ol>
        <% if (Info.get_rep.length != 0) %>
          <% Info.get_rep.each do |report| %>
            <li><%= report %></li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
<% else %>
  <h1>Select a city to see reports</h1>
<% end %>
