
<h3 id="sub-header">Search the UFO database...</h3>

<div class="row controls_row">
  <div class="col-xs-4">
    <button id="toggle_map" class="btn btn-City btn-sm" name="toggle_map">Toggle map</button>
    <br>
    <button id="show_all" class="btn btn-City btn-sm" name="">SHOW ALL!</button>
  </div>
  <div class="col-xs-4">
    <form action="/get_city_name" method="post">
        <input class="blk_text" type="text" name="city_name" placeholder="search by city"></input>
        <button class="btn btn-City btn-sm" type="submit">Search!</button>
    </form>
  </div>
  <div class="col-xs-4 query">
    <% if (@selected_city.get_name != "") %>
      <p>Your Query results:</p>
      <p>Sightings found: <%= @selected_city.get_total %></p>
      <p>City latitude: <%= @selected_city.get_lat %></p>
      <p>City longitude: <%= @selected_city.get_lng %></p>
    <% end %>
  </div>
</div>

<div id="map_super">
  <!-- This div is where the google map will be be displayed -->
  <div id="map"></div>
  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Keys.js_base%>"></script>
</div>

<div id="map_script"></div>
<% if (@selected_city.get_name != "") %>
  <div id="dialog-window">
    <div id="scrollable-content">
      <h1><span><%=@selected_city.get_total%></span> Sightings found for <span><%=@selected_city.get_name%>:</span></h1>
      <ol>
        <% if (@selected_city.get_rep.length != 0) %>
          <% @selected_city.get_rep.each do |report| %>
            <li><%= report %></li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
<% else %>
  <h1>Select a city to see reports</h1>
<% end %>

<a href='/end'>
